$color-white: #ffffff;
$bg-grey-tranparent: rgba(222, 222, 222, 0.5);
$bg-gray-tranparent: rgba(222, 222, 222, 0.3);
$bg-grey: #ebecf0;
$font-weight-bold: 600;
$font-size-title : 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.todo {
  width: 100%;
  height: 100%;
  background: url(./../img/bg.jpg) no-repeat;
  background-size: cover;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 0;
    background: rgba(122, 122, 122, 0.15);
    overflow: hidden;

    a {
      padding: 0.375rem;
      background-color: $bg-grey-tranparent;
      margin-right: 5px;
      border-radius: 5px;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        background-color: $bg-gray-tranparent;
      }
    }

    svg {
      color: $color-white;
      font-weight: bold;
    }
  }

  &__header-right {
    margin-left: auto;
  }

  &__header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h5 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      color: rgb(238, 223, 12);
      text-shadow: 0 0 10px rgb(233, 71, 7);

      &::before {
        content: "";
        position: absolute;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
        z-index: -1;
        background: url(./../img/3.jpg);
        -webkit-background-position: 50%;
        animation: go 3s linear infinite;
        border-radius: 15% 85% 10% 90% / 87% 70% 30% 13%;
      }
    }
  }

  &__container {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    overflow-x: scroll;
    height: calc(100% - 50px);
  }

  &__row {
    flex-wrap: nowrap;

    .col {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__col {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 5px;
    padding-right: 5px;
  }

  &__status {
    width: 100%;
    background: $bg-grey;
    padding: 15px 10px;
    border-radius: 5px;

    .status-options {
    }
  }

  &__status-bottom {
    padding-top: 10px;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;

      i.fa {
        margin-left: auto;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;

    span {
      font-weight: $font-weight-bold;
      font-size: $font-size-title;
      margin-bottom: 15px;
    }
  }

  &__item {
    background-color: $color-white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 0px solid rgba(123, 123, 123, 0.498039);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    cursor: pointer;
  }

  &__add-status {
    padding: 10px 20px;
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;

    a {
      color: $color-white;
      display: flex;
      align-items: center;
      
      span {
        font-size: $font-size-title;
      }
    }

    &:hover {
      background-color: rgba(255,255,255,.5);
    }
  }

  .box-search {
    position: relative;

    .form-group {
      margin-bottom: 0;

      input {
        background-color: $bg-grey-tranparent;
        width: 200px;
        transition: width 0.5s;
        border: none;
        outline: none;
        color: $color-white;
        cursor: wait;

        &:focus {
          width: 300px;

          & ~ .icon-search {
            color: black;
          }
        }
      }
    }

    .icon-search {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      color: $color-white;
    }
  }

  .icon-notification {
    background-color: rgba(0, 0, 255, 0.562);
  }
  .icon-info {
    background-color: rgba(255, 255, 0, 0.514);
  }

  .icon-user {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;

    b {
      font-size: 12px;
    }
  }
}

// KeyFrames
@keyframes go {
  0% {
    background-position-y: 500px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }

  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }

  100% {
    background-position-y: -100px;
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
}
